.demographicChangeGetDataBtnHolder {
    width:100%;
    overflow:hidden;    
}
.demographicChangeGetDataBtn {
    width:100%;
}
.demographicChangeCanvasHolder {
    position: relative;
    width: 100%;
    overflow: hidden;
    border: 1px solid #000;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}
.demographicChangeCanvasHolder canvas {
    width:100%;
}
.demographicChangeCanvasEmptyText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
}