
@{
    ViewBag.Title = "Demographic change by Ethnicity";
}

<h2>Demographic change by Ethnicity</h2>
<div ng-app="DemographicChangeApp">
    <div ng-controller="DemographicChangeController">
        <div class="demographicChangeCanvasHolder">
            <div id="demographicChangeCanvasEmptyText" class="demographicChangeCanvasEmptyText">Chart data will apear here...</div>
            <canvas id="base" class="chart-bar" chart-data="barChartData" chart-labels="barChartLabels" chart-legend="true" chart-options="barChartOptions" chart-series="barChartSeries"></canvas>
        </div>
        <div class="demographicChangeGetDataBtnHolder"><button type="button" class="btn btn-primary demographicChangeGetDataBtn" ng-click="onGetDemographicChangeByEthnicityData()">Get and display demographic change by ethnicity data</button></div>
    </div>
</div>
